/* Mobile (default) */
.container {
  padding: 4px;
}

/* Tablets */
@media (min-width: 768px) {
  .container {
    padding: 10px;
  }
}

/* Laptops */
@media (min-width: 1024px) {
  .container {
    padding: 10px;
  }
}

/* Large screens */
@media (min-width: 1440px) {
  .container {
    padding: 10px;
  }
}