<nav class="navbar navbar-light border-bottom border-secondary-subtle p-1">
<span class="d-flex justify-content-between align-items-center">
  <img src="assets/logo/logo.png" class="float-start" width="60" height="45">
    <span class="navbar-brand h1">Stock Market Insights</span>
</span>
  <span class="dropdown">
  <button 
    class="btn btn-outline-primary dropdown-toggle btn-lg" 
    type="button" 
    data-bs-toggle="dropdown">
    Select Language
  </button>

  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Hindi</a></li>
    <li><a class="dropdown-item" href="#">English</a></li>
    <li><a class="dropdown-item" href="#">Chinese</a></li>
  </ul>

    <button class="btn btn-outline-primary btn-lg" href="#" (click)="openPopup()">Login</button>
  </span>
</nav>

<app-login *ngIf="authService.showLoginPopup" (close)="closePopup()"></app-login>