<div>
<table class="table text-center">

    <thead>
        <tr>
            <th>Type</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
    <tr>
    <th scope="col">Duration:</th>
    <td>{{final_array?.Preffered_Days}}</td>
    </tr>
    <tr>
    <th scope="col">Growth:</th>
    <td>{{final_array?.Expected_Growth}}</td>
    </tr>
    <tr>
    <th scope="col">RSI:</th>
    <td>{{final_array?.RSI}}</td>
    </tr>
    <tr>
    <th scope="col">Raw Stock News:</th>
    <td>{{final_array?.rawStockNews}}</td>
    </tr>
    </tbody>
</table>
</div>