.country-wrapper {
  gap: 50px;   /* controls space between columns */
}

.country-list {
  display: flex;
  flex-direction: column;
  gap: 20px;   /* LESS vertical spacing */
}

.country-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 6px;
  border: 2px solid transparent;
  transition: all 0.2s ease;
  margin: 10px;
  padding: 5px;
}

.country-item img {
  width: 52px;
  height: 52px;
}

.c_selection{
    margin-top: -15px;
    height: 400px;
}

.country-wrapper {
  background-color: white!important;   /* your app background */
  border-radius: 20px;
  border-color: black;
  border-style: dashed;
}


.country-item:hover {
  border: 2px solid #90caf9;
}

.country-item.selected {
  border: 2px solid #1976d2;
  background-color: #e3f2fd;
}

/* .country-item.selected img {
  filter: brightness(0) invert(1);
} */