<div class="c_selection">
<div class="row text-center">
    <h3>Choose your country</h3>
  </div>
<div class="container d-flex justify-content-center mt-4">

  <div class="row country-wrapper">
    <div class="col-auto">
      <div class="country-list">
        <div class="country-item">
          <img src="assets/countries/india.png">
          <span>India</span>
        </div>

        <div class="country-item">
          <img src="assets/countries/china.png">
          <span>China</span>
        </div>

        <div class="country-item">
          <img src="assets/countries/russia.png">
          <span>Russia</span>
        </div>

        <div class="country-item">
          <img src="assets/countries/canada.png">
          <span>Canada</span>
        </div>

      </div>
    </div>

    <div class="col-auto">
      <div class="country-list">

        <div class="country-item">
          <img src="assets/countries/usa.png">
          <span>USA</span>
        </div>

        <div class="country-item">
          <img src="assets/countries/sing.png">
          <span>Singapore</span>
        </div>

        <div class="country-item">
          <img src="assets/countries/uk.png">
          <span>United Kingdom</span>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
