.aly_overview{
background: white;
    height: 4spx;
    margin-top: -15px;
  border: 1px solid #ccc;   /* skinny border */

  box-shadow:
    0 4px 10px rgba(0,0,0,0.15),     /* soft outer */
    inset 0 1px 3px rgba(0,0,0,0.15); /* soft inner */

  border-radius: 6px;
    height: 465px;
    background-color: white!important;   
    overflow-y: auto;
}

.row{
 margin-top: 30px;
 margin-left: 15px;
  margin-right: 15px;   
}

.term-row {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
}

.custom-bar {
  flex: 1;           
  height: 20px;
}

.blur-column {
    filter: blur(5px);
    user-select: none; 
}

.tableContainer{
  position: relative;
}

.blur-column {
  filter: blur(6px);
  pointer-events: none;
}

.unlock-btn {
  position: absolute;
  top: 80px;              /* adjust for header height */
  left: 83%;              /* align roughly over last 2 columns */
  transform: translateX(-50%);
  z-index: 10;
  padding: 6px 16px;
}