<div class="aly_overview">
  <div class="row">
    <div class="col-12">
      <div class="position-relative d-flex align-items-center">
        <h4 class="mx-auto mb-0">{{ title1 }}</h4>
      </div>
      <div *ngIf="!IsStockAnalysis">
        <div class="term-row" *ngFor="let i of finalArray">
          <h5>{{Object.keys(i)[0]}}</h5>
          <p-progressBar [value]="Object.values(i)[0]" class="custom-bar"></p-progressBar>
        </div>
      </div>
      <div *ngIf="IsStockAnalysis" class="tableContainer">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Stock Name</th>
              <th scope="col">Category</th>
              <th scope="col">Sector</th>
              <th scope="col">Probability</th>
              <!-- <th scope="col">Show Analysis</th> -->
            </tr>
          </thead>
          <tbody>
            @for(tra of finalArray; track $index){
            <tr>
              <th scope="row">{{tra.displayName}}</th>
              <td>{{tra.category.ctgry}}</td>
              <td>{{tra.category.sector}}</td>
              <th>{{tra.probability}}</th>
              <!-- <td>Show</td>  -->
              <!-- class="blur-column -->
            </tr>
            }
          </tbody>
          <!-- <button class="unlock-btn btn btn-success btn-sm">
            Unlock Full Access
          </button> -->
        </table>
        <!-- <button class="unlock-btn btn btn-success btn-md" (click)="ShowSubscriptionOption()">
          Unlock Full Access
        </button> -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-block content">
      <h4 class="text-center">{{title2}}</h4>
      <p class="mr-4">{{summery}}</p>
    </div>
  </div>
</div>