<div class="aly_overview">
  <div class="row">
    <div class="col-12">
      <div class="position-relative d-flex align-items-center">
        <h4 class="mx-auto mb-0">{{ title1 }}</h4>
      </div>
      <div *ngIf="!IsStockAnalysis">
        <div class="term-row" *ngFor="let i of finalArray">
          <h5>{{Object.keys(i)[0]}}</h5>
          <p-progressBar [value]="Object.values(i)[0]" class="custom-bar"></p-progressBar>
        </div>
      </div>
      <div *ngIf="IsStockAnalysis" class="tableContainer">
        <table class="table text-center">
          <thead>
            <tr>
              <th scope="col">Stock Name</th>
              <th scope="col">Category</th>
              <th scope="col">Sector</th>
              <th scope="col">Key Catalysts</th>
              <th scope="col">Prediction</th>
              <th scope="col">Probability</th>
            </tr>
          </thead>
          <tbody>
            @for(tra of finalArray; track $index){
            <tr class="text-center">
              <th scope="row"><a [routerLink]="['/stock-analysis',tra.stockId]">{{tra.displayName}}</a></th>
              <td>{{tra.category}}</td>
              <td>{{tra.sector}}</td>
              <td>{{tra.keyCatalysts}}</td>
              <td>{{tra.prediction ?? tra.Prediction}}</td>
              <th>{{tra.Probability_of_Profit}}%</th> 
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!IsStockAnalysis">
    <div class="col-12 d-block content">
      <h4 class="text-center">{{title2}}</h4>
      <p class="mr-4">{{summery}}</p>
    </div>
  </div>
</div>