<div class="aly_overview">
  <div class="row">
    <div class="col-12">
      <h4 class="text-center">{{title1}}</h4>

      @for(tra of finalArray; track $index){
      <div class="term-row">
        <h5>{{tra.name}}</h5>
        <p-progressBar [value]="tra.value" class="custom-bar"></p-progressBar>
      </div>
      }
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-block content">
      <h4 class="text-center">{{title2}}</h4>
      <p class="mr-4">{{summery}}</p>
    </div>
  </div>
</div>