<mat-horizontal-stepper class="stepper" labelPosition="bottom" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Country Selection</ng-template>
      <!-- <mat-form-field>
        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
      </mat-form-field> -->
      <!-- <div>
        <button matButton matStepperNext>Next</button>
      </div> -->
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Term Analysis</ng-template>
      <!-- <mat-form-field>
        <input matInput placeholder="Address" formControlName="secondCtrl" required>
      </mat-form-field> -->
      <!-- <div>
        <button matButton matStepperPrevious>Back</button>
        <button matButton matStepperNext>Next</button>
      </div> -->
    </form>
  </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Category Analysis</ng-template>
      <!-- <mat-form-field>
        <input matInput placeholder="Address" formControlName="thirdCtrl" required>
      </mat-form-field> -->
      <!-- <div>
        <button matButton matStepperPrevious>Back</button>
        <button matButton matStepperNext>Next</button>
      </div> -->
    </form>
  </mat-step>
    <mat-step [stepControl]="forthFormGroup">
    <form [formGroup]="forthFormGroup">
      <ng-template matStepLabel>Sector Analysis</ng-template>
      <!-- <mat-form-field>
        <input matInput placeholder="Address" formControlName="forthCtrl" required>
      </mat-form-field> -->
      <!-- <div>
        <button matButton matStepperPrevious>Back</button>
        <button matButton matStepperNext>Next</button>
      </div> -->
    </form>
  </mat-step>
  <mat-step [stepControl]="fifthFormGroup">
    <form [formGroup]="fifthFormGroup">
      <ng-template matStepLabel>Stock Analysis</ng-template>
      <!-- <mat-form-field>
        <input matInput placeholder="Address" formControlName="fifthCtrl" required>
      </mat-form-field> -->
      <!-- <div>
        <button matButton matStepperPrevious>Back</button>
        <button matButton matStepperNext>Next</button>
      </div> -->
    </form>
  </mat-step>
  <!-- <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button matButton matStepperPrevious>Back</button>
      <button matButton (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step> -->
</mat-horizontal-stepper>
