<div class="wnr_overview">
    <div class="mt-2">
        <div class="row text-center">
            <h5>Nifty Sentiment</h5>
        </div>
        <div class="content text">
        <table class="table">
                <tbody>
                    <tr>
                        <th>Nifty Prediction</th>
                        <td>{{finalArr.NiftyPrediction}}</td>
                    </tr>
                    <tr>
                        <th>Nifty Outlook</th>
                        <td>{{finalArr.NiftyOutlook}}</td>
                    </tr>
                    <tr>
                       <th>Confidence</th>
                       <td>{{finalArr.Confidence}}</td>
                    </tr>
                    <tr>
                       <th>KeySignals</th>
                       <td>{{finalArr.KeySignals}}</td>
                    </tr>
                    <tr>
                       <th>Description</th>
                       <td>{{finalArr.Description}}</td>
                    </tr>
                    <tr>
                       <th>TradeView</th>
                       <td>{{finalArr.TradeView}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>